.sample_list {
    display: flex;
    flex-direction: column;
    border: 1px solid #2c323a;
}

.sample {
    display: flex;
    align-items: center;
    min-height: 50px;
    border-bottom: 1px solid #2c323a;
}

.cover {
    padding-right: 10px;
    min-width: 40px;
}

.cover img {
    width: 36px;
    height: 36px;
}

.name {
    text-align: left;
    width: 300px;
    flex-grow: 2;
}

.waveform {
    width: 270px;
}

.tempo {
    flex-grow: 1;

}

.favorite {
    min-width: 40px;
    justify-content: center;
    font-size: 22px;
}

.download{

}