.sample_list {
    display: flex;
    flex-direction: column;
    border: 1px solid #2c323a;
}
.sample {
    display: flex;
    min-height: 50px;
    border-bottom: 1px solid #2c323a;
    align-items: center;
}

.add_shoping_cart{
    display: flex;
    min-width: 40px;
    justify-content: center;
    font-size: 18px;
}
.cover {
    padding-right: 10px;
    min-width: 40px;
}

.cover img{
    width: 36px;
    height: 36px;
}
.title {
    width: 300px;}

.waveform {
    width: 270px;
}

.favorite {
    display: flex;
    min-width: 40px;
    justify-content: center;
    font-size: 26px;
}

.hidden{
    visibility: hidden;
}