.sample_list {
    display: flex;
    flex-direction: column;
    border: 1px solid #2c323a;
}
.sample {
    display: flex;
    min-height: 70px;
    border-bottom: 1px solid #2c323a;
    align-items: center;
}

.add_shoping_cart{
    display: flex;
    min-width: 55px;
    justify-content: center;
    font-size: 22px;
}
.cover {}
.title {}