.header {
    padding: 16px;
    display: flex;
}

.cover {
    height: 230px;
    width: 230px;
    border-radius: 5px;
}

.content {
    padding: 5px 0 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}

.title {
    text-align: left;
    font-size: 2.25rem;
    font-weight: 700;
}

.metadata {
    display: flex;
}