.navbar {
    display: flex;
    color: white;
}

.item {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.button {
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    border: solid 1px white;
    border-radius: 100px;
}